In [18]:
# sol 1
import pandas as pd
my_data_list=pd.Series([4,8,15,16,23,42])
print(type(my_data_list))
print(my_data_list)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [21]:
# sol 2
my_list=list(range(0,10))
my_data_list2=pd.Series(my_list)
print(my_data_list2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [26]:
# sol 3
info=pd.DataFrame([['name','Age','Gender'],['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']])
info.columns=info.iloc[0]
info=info.drop(0)
print(info)

0    name Age  Gender
1   Alice  25  Female
2     Bob  30    Male
3  Claire  27  Female

In [30]:
# sol 4
# In pandas, a DataFrame is a two-dimensional labeled data structure, resembling a table or spreadsheet, where data is organized in rows and columns. It is one of the core data structures provided by the pandas library and is widely used for data manipulation, analysis, and cleaning tasks. 
# The DataFrame allows you to store and work with heterogeneous data types, handle missing values efficiently, and perform various operations like filtering, merging, and grouping easily.

# Diffrence:
    # DataFrame:
        # A DataFrame is two-dimensional, representing data in a tabular format with rows and columns.
        # A DataFrame is a collection of Series, where each column of a DataFrame is a pandas Series.
        # DataFrames are commonly used for handling and analyzing structured, tabular data like CSV files or SQL tables.
        # DataFrame syntax involves referencing both row and column labels to access data

    # Series:
        # A Series is one-dimensional, representing a single column of data with associated labels (index)
        # A Series is essentially a one-dimensional array with labeled data, where the data can be of any data type.
        # Series are useful for handling sequences of data, time series data, or when you need to work with a single column of a DataFrame.
        # Series syntax involves referencing data through the associated index.

# Example

# DataFrame
info=pd.DataFrame([['name','Age','Gender'],['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']])
# info=info.columns(info.iloc(0))
print("This is the Example of DataFrame \n",info)

# Series
my_list=list(range(0,10))
my_data_list2=pd.Series(my_list)
print("\n\n This the Example of Series. \n",my_data_list2)

This is the Example of DataFrame
         0    1       2
0    name  Age  Gender
1   Alice   25  Female
2     Bob   30    Male
3  Claire   27  Female


 This the Example of Series.
 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [42]:
# sol 5
#  Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions you can use:

    # 1.Filtering data: You can filter data based on certain conditions using functions like DataFrame.loc[], DataFrame.iloc[], or boolean indexing.

    # 2.Sorting data: You can sort the DataFrame based on specific columns using DataFrame.sort_values().

    # 3.Aggregation: You can perform aggregation operations like sum, mean, count, etc., using functions like DataFrame.groupby() and DataFrame.agg().

    # 4.Merging and joining: Functions like DataFrame.merge() and DataFrame.join() allow you to combine data from different DataFrames based on common columns or indices.

    # 5.Adding and deleting columns: You can add new columns or delete existing ones using simple assignment or DataFrame.drop().

# Example of filtering the data 
info=pd.DataFrame([['name','Age','Gender'],['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']])
print("this is the complete dataframe \n",info)
print("\n\n this  is the filtered data \n",list(info.iloc[2])) #here i use info.iloc[2] for filter the data on the index 2 from the dataframe

this is the complete dataframe
         0    1       2
0    name  Age  Gender
1   Alice   25  Female
2     Bob   30    Male
3  Claire   27  Female


 this  is the filtered data
 ['Bob', 30, 'Male']

In [ ]:
# sol 6
# the following data structures are mutable in nature:
    # DataFrame
    # Panel

# Series is immutable data structure

# Explanation

# Series: A Series in pandas is one-dimensional and behaves like an array with labeled data. However, it is immutable, meaning once it is created, you cannot modify its elements or size. If you need to modify the data, you'll need to create a new Series.

# DataFrame: A DataFrame is two-dimensional and represents data in a tabular format with rows and columns, similar to a spreadsheet. Unlike Series, DataFrames are mutable, which means you can modify the data within a DataFrame, add or delete rows and columns, change values, etc.

# Panel: A Panel is a three-dimensional data structure that was previously available in pandas and there are also mutuable like DataFrame. However, as of pandas version 0.25.0, the Panel has been deprecated and is no longer recommended for use. Instead, multi-dimensional data is generally handled using other data structures like DataFrames or hierarchical indexing.

In [39]:
# sol 7
l1=list(range(1,11,1))
l2=list(range(2,21,2))
l3=list(range(3,31,3))
l4=list(range(4,41,4))
l5=list(range(5,51,5))

l1_Sr=pd.Series(l1)
l2_Sr=pd.Series(l2)
l3_Sr=pd.Series(l3)
l4_Sr=pd.Series(l4)
l5_Sr=pd.Series(l5)

# print(l1_Sr,l2_Sr)
table={"table of 1 ":l1_Sr,"table of 2 ":l2_Sr,"table of 3 ":l3_Sr,"table of 4 ":l4_Sr,"table of 5 ":l5_Sr} #this dic. help to convert the series data into dataframe with the column name of the datafrave as key name 

my_tables=pd.DataFrame(table)
print(my_tables)

   table of 1   table of 2   table of 3   table of 4   table of 5
0            1            2            3            4            5
1            2            4            6            8           10
2            3            6            9           12           15
3            4            8           12           16           20
4            5           10           15           20           25
5            6           12           18           24           30
6            7           14           21           28           35
7            8           16           24           32           40
8            9           18           27           36           45
9           10           20           30           40           50