Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#sol 1
# (i) string
string1 = "Hello, world!"

# (ii) list
list1 = [1, 2, 3, 4, 5]

# (iii) float
float1 = 3.14

# (iv) tuple
tuple1 = ("apple", "banana", "cherry")

Q2. Given are some following variables containing data:
    What will be the data type of the above given variable.

In [5]:
#sol 2
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print("type of Var1 is",type(var1))
print("type of Var2 is",type(var2))
print("type of Var3 is",type(var3))
print("type of Var4 is",type(var4))

type of Var1 is <class 'str'>
type of Var2 is <class 'str'>
type of Var3 is <class 'list'>
type of Var4 is <class 'float'>

Q3. Explain the use of the following operators using an example:

In [6]:
# (i) ' / ' (Division Operator): The / operator is used for division 

a = 100
b = 3
result1 = a / b
print(result1) 

# (ii) ' % ' (Modulo Operator):The % operator is used to calculate the remainder of the division between two numbers

a = 20
b = 3
result2 = a % b
print(result2)

# (iii) ' // ' (Floor Division Operater): The // operator return the quotient as an integer rounding down to the nearest less whole number

a=20
b=3
result3=a//b  
print(result3)

# (vi) ' ** ' (Exponentiation Operater): The ** is use to aasign a power to the number 

a=5
b=3
result4=a**b
print(result4)

33.333333333333336
2
6
125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
# sol 4
my_list1 = ["apple iphone", 2, 3.14, True, ["Deepak", "Sehrawat"], {"Physics": "wala"}, None, (1, 2, 3), "banana", False]
for i in my_list1:
    print(f"the element is '{i}' and the datatype of this  element is '{type(i)}'")

the element is 'apple iphone' and the datatype of this  element is '<class 'str'>'
the element is '2' and the datatype of this  element is '<class 'int'>'
the element is '3.14' and the datatype of this  element is '<class 'float'>'
the element is 'True' and the datatype of this  element is '<class 'bool'>'
the element is '['Deepak', 'Sehrawat']' and the datatype of this  element is '<class 'list'>'
the element is '{'Physics': 'wala'}' and the datatype of this  element is '<class 'dict'>'
the element is 'None' and the datatype of this  element is '<class 'NoneType'>'
the element is '(1, 2, 3)' and the datatype of this  element is '<class 'tuple'>'
the element is 'banana' and the datatype of this  element is '<class 'str'>'
the element is 'False' and the datatype of this  element is '<class 'bool'>'

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
#sol 5
num1=int(input("enter the first no."))
num2=int(input("enter the second no."))
i=0
if num1%num2 == 0:
    print('it is purely divided ')
    
    while num1>=num2:
        num1=num1-num2
        i+=1
        
    print ("Divided",i,"times")
    
else:
    print("it is not divided purely")

enter the first no. 99
enter the second no. 3

it is purely divided
Divided 33 times

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
#sol 6

l1=(list(range(34,630,4)))
l2=l1[0:25]
ld=[] #list for divisible numbers 
lnd=[] #list for not divisible numbers 


for i in l2:
    if i%3==0:
        ld.append(i)
    else:
        lnd.append(i)

print("the main list \n ",l2)
print("thies elements are divided by 3 \n ",ld)
print("thies elements are not divided by 3 \n ",lnd)

the main list
  [34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98, 102, 106, 110, 114, 118, 122, 126, 130]
thies elements are divided by 3
  [42, 54, 66, 78, 90, 102, 114, 126]
thies elements are not divided by 3
  [34, 38, 46, 50, 58, 62, 70, 74, 82, 86, 94, 98, 106, 110, 118, 122, 130]

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [14]:
#sol 7
    # mutable or immutable are based on whether their values can be changed after they are created
    
    
        # Mutable data types are those whose values can be modified after they are created. You can directly modify mutable objects without creating new objects. for ex- list, set, dict.,
        # code
        
x = [45, 56, 79]
print(x) 
y = x  # Assigning the list x to y
x[0] = 82 # Modifying the list x by adding an element
print(y)

		#Immutable data types are those whose values cannot be modified once they are created. If you want to modify an immutable object, you need to create a new object with the desired changes. ex- string, tuple.
    	#code

x = "hello"
y = x  # Assigning the value of x to y
x[0] = "H"  # try to Modifying the value of x but it give error
print(x,y) #show error  "TypeError: 'str' object does not support item assignment" because string is immutable

[45, 56, 79]
[82, 56, 79]

TypeError: 'str' object does not support item assignment