In [1]:
# sol 1
# MongoDB is a widely used non-relational database management system (DBMS) that belongs to the category of NoSQL databases.
# Non-relational databases, also known as NoSQL databases, offer an alternative approach to storing and retrieving data compared to traditional relational databases.

# non_relational database
        # which organize data into structured tables with predefined schemas, non-relational databases like MongoDB allow for flexible and schema-less data storage. 

# Resions for preferred to use MongoDB over SQL databases

# Flexibility and Scalability: MongoDB offers a flexible schema design, allowing for easy handling of evolving data structures without the need for complex schema migrations.

# Unstructured Data: If your data is unstructured or semi-structured, MongoDB's schema-less approach is advantageous. 

# Real-Time Analytics: MongoDB excels in scenarios that require real-time analytics and fast data retrieval

# Horizontal Scalability: MongoDB's architecture supports sharding, which enables data distribution across multiple servers, facilitating horizontal scalability.

In [ ]:
# SOL 2

# some features of mongoDB

        # Document-Oriented: MongoDB stores data in flexible, schema-less BSON documents, allowing for easy data modeling and adaptation to changing requirements.

        # Scalability: MongoDB scales horizontally across servers, distributing data and workload to handle large amounts of data and high traffic loads.

        # High Availability: MongoDB supports automatic replication and failover with replica sets, ensuring data redundancy and continuous availability.

        # Flexible Schema: MongoDB's dynamic schema allows for on-the-fly changes to data structure without migrations or predefined schemas.

        # Powerful Querying: MongoDB provides a rich query language with support for ad-hoc queries, indexing, sorting, and aggregation.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp311-cp311-win_amd64.whl (453 kB)
                                              0.0/453.6 kB ? eta -:--:--
     --                                      30.7/453.6 kB 1.3 MB/s eta 0:00:01
     ---------                              112.6/453.6 kB 1.6 MB/s eta 0:00:01
     ----------------                       194.6/453.6 kB 1.7 MB/s eta 0:00:01
     -------------------------              307.2/453.6 kB 2.1 MB/s eta 0:00:01
     -------------------------------------- 453.6/453.6 kB 2.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
                                              0.0/283.7 kB ? eta -:--:--
     -------------------------------------- 283.7/283.7 kB 8.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
# SOL 3
import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://sehrawatdeep5050:sehrawat@cluster0.p2meq4d.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri)


data_base=client["main"]
col=data_base['my_collection']
info={"name": "deepak", "rollno":"19cse24","phonne_num":848975898,"country":"india"}
col.insert_one(info)

In [25]:
# sol 4
import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://sehrawatdeep5050:sehrawat@cluster0.p2meq4d.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri)


data_base=client["main"]
col=data_base['my_collection']

col.drop()# just to make sure that the data is not add multiple time as i run the code again again
info={"name": "deepak", "rollno":"19cse24","phonne_num":848975898,"country":"india"}
col.insert_one(info)

info1=[{"name": "rohit", "rollno":"19cse66","phonne_num":845655898,"country":"india"}
,{"name": "nitin", "rollno":"19cse78","phonne_num":848975898,"country":"india"}
,{"name": "rohit", "rollno":"19cse98","phonne_num":848975898,"country":"india"}
,{"name": "amit", "rollno":"19cse54","phonne_num":848975898,"country":"india"}]
col.insert_many(info1)

for i in col.find({"name":"rohit"}):
    print(i)

col.find_one()

{'_id': ObjectId('64a854296b2802683d5060e5'), 'name': 'rohit', 'rollno': '19cse66', 'phonne_num': 845655898, 'country': 'india'}
{'_id': ObjectId('64a854296b2802683d5060e7'), 'name': 'rohit', 'rollno': '19cse98', 'phonne_num': 848975898, 'country': 'india'}

{'_id': ObjectId('64a854296b2802683d5060e4'),
 'name': 'deepak',
 'rollno': '19cse24',
 'phonne_num': 848975898,
 'country': 'india'}

In [29]:
# sol 5
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://sehrawatdeep5050:sehrawat@cluster0.p2meq4d.mongodb.net/?retryWrites=true&w=majority"
client= MongoClient(uri)


db=client["my_database1"]
col1=db["collection 1"]

col1.drop() # just to make sure that the data is not add multiple time as i run the code again again

data=[{"name": "deepak", "surname": "sehrawat", "sub": "python", "city": "palwal"}
,{"name": "john", "surname": "smith", "sub": "java", "city": "new york"}
,{"name": "emma", "surname": "johnson", "sub": "c++", "city": "london"}
,{"name": "alex", "surname": "wilson", "sub": "javascript", "city": "sydney"}
,{"name": "sophia", "surname": "lee", "sub": "python", "city": "seoul"}
,{"name": "michael", "surname": "brown", "sub": "java", "city": "toronto"}
,{"name": "olivia", "surname": "davis", "sub": "c++", "city": "los angeles"}
,{"name": "ethan", "surname": "martinez", "sub": "javascript", "city": "mexico city"}
,{"name": "ava", "surname": "hernandez", "sub": "python", "city": "tokyo"}
,{"name": "jacob", "surname": "lopez", "sub": "java", "city": "paris"}
,{"name": "mia", "surname": "garcia", "sub": "c++", "city": "berlin"}
,{"name": "william", "surname": "gonzalez", "sub": "javascript", "city": "madrid"}
,{"name": "abigail", "surname": "rodriguez", "sub": "python", "city": "rome"}
,{"name": "noah", "surname": "ramirez", "sub": "java", "city": "moscow"}
,{"name": "emily", "surname": "turner", "sub": "c++", "city": "beijing"}]
col1.insert_many(data)

for i in col1.find({"sub":"python"}): #find the students how have the sub. python
    print(i)

{'_id': ObjectId('64a858c06b2802683d5060ec'), 'name': 'deepak', 'surname': 'sehrawat', 'sub': 'python', 'city': 'palwal'}
{'_id': ObjectId('64a858c06b2802683d5060f0'), 'name': 'sophia', 'surname': 'lee', 'sub': 'python', 'city': 'seoul'}
{'_id': ObjectId('64a858c06b2802683d5060f4'), 'name': 'ava', 'surname': 'hernandez', 'sub': 'python', 'city': 'tokyo'}
{'_id': ObjectId('64a858c06b2802683d5060f8'), 'name': 'abigail', 'surname': 'rodriguez', 'sub': 'python', 'city': 'rome'}

In [38]:
# sol 6
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://sehrawatdeep5050:sehrawat@cluster0.p2meq4d.mongodb.net/?retryWrites=true&w=majority"
client= MongoClient(uri)


db=client["my_database1"]
col1=db["collection 1"]

col1.drop() # just to make sure that the data is not add multiple time as i run the code again again

data=[
  {"name": "deepak", "surname": "sehrawat", "sub": "python", "city": "palwal", "roll_no": "5566701"},
  {"name": "john", "surname": "smith", "sub": "java", "city": "new york", "roll_no": "5566702"},
  {"name": "emma", "surname": "johnson", "sub": "c++", "city": "london", "roll_no": "5566703"},
  {"name": "alex", "surname": "wilson", "sub": "javascript", "city": "sydney", "roll_no": "5566704"},
  {"name": "sophia", "surname": "lee", "sub": "python", "city": "seoul", "roll_no": "5566705"},
  {"name": "michael", "surname": "brown", "sub": "java", "city": "toronto", "roll_no": "5566706"},
  {"name": "olivia", "surname": "davis", "sub": "c++", "city": "los angeles", "roll_no": "5566707"},
  {"name": "ethan", "surname": "martinez", "sub": "javascript", "city": "mexico city", "roll_no": "5566708"},
  {"name": "ava", "surname": "hernandez", "sub": "python", "city": "tokyo", "roll_no": "5566709"},
  {"name": "jacob", "surname": "lopez", "sub": "java", "city": "paris", "roll_no": "5566710"},
  {"name": "mia", "surname": "garcia", "sub": "c++", "city": "berlin", "roll_no": "5566711"},
  {"name": "william", "surname": "gonzalez", "sub": "javascript", "city": "madrid", "roll_no": "5566712"},
  {"name": "abigail", "surname": "rodriguez", "sub": "python", "city": "rome", "roll_no": "5566713"},
  {"name": "noah", "surname": "ramirez", "sub": "java", "city": "moscow", "roll_no": "5566714"},
  {"name": "emily", "surname": "turner", "sub": "c++", "city": "beijing", "roll_no": "5566715"}
]

col1.insert_many(data)

for i in col1.find().sort("roll_no",-1): #this will arrange the data respected to "roll_no" -1 is for sorting the data in decending order 
    print(i)

{'_id': ObjectId('64a85ed36b2802683d50617a'), 'name': 'emily', 'surname': 'turner', 'sub': 'c++', 'city': 'beijing', 'roll_no': '5566715'}
{'_id': ObjectId('64a85ed36b2802683d506179'), 'name': 'noah', 'surname': 'ramirez', 'sub': 'java', 'city': 'moscow', 'roll_no': '5566714'}
{'_id': ObjectId('64a85ed36b2802683d506178'), 'name': 'abigail', 'surname': 'rodriguez', 'sub': 'python', 'city': 'rome', 'roll_no': '5566713'}
{'_id': ObjectId('64a85ed36b2802683d506177'), 'name': 'william', 'surname': 'gonzalez', 'sub': 'javascript', 'city': 'madrid', 'roll_no': '5566712'}
{'_id': ObjectId('64a85ed36b2802683d506176'), 'name': 'mia', 'surname': 'garcia', 'sub': 'c++', 'city': 'berlin', 'roll_no': '5566711'}
{'_id': ObjectId('64a85ed36b2802683d506175'), 'name': 'jacob', 'surname': 'lopez', 'sub': 'java', 'city': 'paris', 'roll_no': '5566710'}
{'_id': ObjectId('64a85ed36b2802683d506174'), 'name': 'ava', 'surname': 'hernandez', 'sub': 'python', 'city': 'tokyo', 'roll_no': '5566709'}
{'_id': ObjectId('64a85ed36b2802683d506173'), 'name': 'ethan', 'surname': 'martinez', 'sub': 'javascript', 'city': 'mexico city', 'roll_no': '5566708'}
{'_id': ObjectId('64a85ed36b2802683d506172'), 'name': 'olivia', 'surname': 'davis', 'sub': 'c++', 'city': 'los angeles', 'roll_no': '5566707'}
{'_id': ObjectId('64a85ed36b2802683d506171'), 'name': 'michael', 'surname': 'brown', 'sub': 'java', 'city': 'toronto', 'roll_no': '5566706'}
{'_id': ObjectId('64a85ed36b2802683d506170'), 'name': 'sophia', 'surname': 'lee', 'sub': 'python', 'city': 'seoul', 'roll_no': '5566705'}
{'_id': ObjectId('64a85ed36b2802683d50616f'), 'name': 'alex', 'surname': 'wilson', 'sub': 'javascript', 'city': 'sydney', 'roll_no': '5566704'}
{'_id': ObjectId('64a85ed36b2802683d50616e'), 'name': 'emma', 'surname': 'johnson', 'sub': 'c++', 'city': 'london', 'roll_no': '5566703'}
{'_id': ObjectId('64a85ed36b2802683d50616d'), 'name': 'john', 'surname': 'smith', 'sub': 'java', 'city': 'new york', 'roll_no': '5566702'}
{'_id': ObjectId('64a85ed36b2802683d50616c'), 'name': 'deepak', 'surname': 'sehrawat', 'sub': 'python', 'city': 'palwal', 'roll_no': '5566701'}

In [ ]:
# sol 7

# delete_one(): This method is used to delete a single document that matches a specified filter. 
    # It removes the first document that satisfies the given filter criteria. If multiple documents match the filter, only the first one encountered will be deleted.

# delete_many(): This method is used to delete multiple documents that match a specified filter. 
    # It removes all the documents that satisfy the filter criteria.If no documents match the filter, no changes are made to the collection

# drop(): This method is used to drop an entire collection from the database. When you drop a collection, you permanently remove all the documents and indexes associated with that collection. 
    # This operation cannot be undone, and it frees up the disk space occupied by the collection.