In [12]:
import seaborn as sbs
data1=sbs.load_dataset("tips")
import numpy as np
# data1.describe()


from scipy import stats
stats.mode(data1.tip)

ModeResult(mode=2.0, count=33)

In [8]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.11.2-cp39-cp39-macosx_12_0_arm64.whl (29.6 MB)
     |████████████████████████████████| 29.6 MB 2.3 MB/s eta 0:00:01
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /Users/Designer/Library/Python/3.9/lib/python/site-packages (from scipy) (1.25.2)
Installing collected packages: scipy
Successfully installed scipy-1.11.2
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [11]:
data1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
sbs.load_dataset